.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.data-loading {
  display: block;
  background-color: white;
  min-height: 100vh;
  text-align: center;
  border: 0;
  font-size: 5rem;
}
.loader-img{
  padding-top:25%;
}

.img-size{
  width: 100%;
  height: 293px;
  display: block;
}

.main-panel{
  border-width: 1px;
  margin: 10px;
  position: relative;
}

.overlay{
  color: blue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  opacity: 0;
  width: 100%;
  height: 100%; 
}
.main-panel:hover .overlay {
  opacity: 0.5;
}
.overlay-text{
  text-align:center;
  position: relative;
  top: 50%;
  color: white;
}
.panel{
  padding: 0px !important;
  width: 293px !important;
  height: 293px !important;
}
.p0{
  padding: 0px !important;
}
.card{
  margin: 0px;
  padding: 0px;
}

.grid{
  padding: 0;
}

.img-icon{  
  box-sizing: content-box;
  height: 25px;
  width: 25px;
  border-radius: 100px;
}
.like-icon{
  margin: 10px;
  box-sizing: content-box;
  height: 30px;
  width: 30px;
  border-radius: 100px;
}

.overlay-like{
  padding-right: 10px;
  padding-top: 10px;
}

.comment-icon{  
  box-sizing: content-box;
  height: 25px;
  width: 25px;
}

.comment-ico{
  padding-left: 20px;
}

.modal-body{
  width: 900px;
  height: 620px;
  padding: 0px !important;
}

.modal-content{ 
  width: 900px;
  border-radius: 0px;
}

.carousel-control {
  width: 5%;
}

.car-style-image{
  width: 100%;
  height: 620px;
}

.car-style-details{
  padding-left: 10px;
  margin-left: 10px;
  height: 620px;
}

.comment-box{
  width: 300px;
  height: 340px;
  padding: 10px;
  overflow-y: scroll;
}
.comment-style{
  padding-top: 10px;
}
.comment{
  color: blue;
  padding-left: 5px;
}
.del-comment-style{
  border: 1px solid gray;
  border-radius: 100%;
  margin-right: 20px;
  float: right;
}
.comment-input-style{
  margin-top: 10px;
  width: 80%;
  height: 30px;
  border-radius: 5px; 
}
.label-input-style{
  height: 20px;
  border-radius: 5px; 
  width: 175px;
}
.border-bottom{
  border-bottom: 1px solid lightgray;
  width: 80%;
  padding: 10px;
}
.trash-style{
  margin-left: 230px;
  margin-top: -65px;
}
.del-post{
  margin-left: 50px;
}
.fl-l{
  float: left;
}
.fl-r{
  float: right;
}
.upload-img{
  margin-left:72%; 
  margin-top: 10px;
}
.upload-file{
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  padding: 7px;
}
.upload-btn{
  display: flex;
  margin-left: 40%;
  margin-top: 10px;
}
.profile{
  height: 150px;
  background-color: lightgray;
}
.profile-img{
  float: left;
  width:100px;
  height: 100px;
  margin-left: 10%;
  margin-top: 15px;
  border: 1px solid black;
  border-radius: 100%;
}
.prof-img{
  float: left;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 100%;
}
.edit-info{
  height: 40px;
}
.user-name{
  float:left;
  margin-left: 20px;
  padding-left: 10px;
}
.usr-info{
  margin-left: 10px;
  padding-left: 10px;
}
.usr-edit-info{
  float: right;
  margin-right: 35px;
}
.user-posts{
  display: flex;
  float: left;
  margin-top: 70px;
  left: 20px;
  margin-left: -135px;
}
.user-posts1{
  display: flex;
  float: left;
  margin-top: 70px;
  padding-left: 20px;
  margin-left: -70px;
}
.user-posts2{
  display: flex;
  float: left;
  margin-top: 70px;
  padding-left: 20px;
}